@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

@media (max-width: 576px) {
    #numberForm {
        width: 100% !important;
    }
}

@media (max-height: 576px) {
    #numberForm {
        z-index: -1;
        height: 63% !important;
        transform: translate(-50%, -55%) !important;
    }
    #startButton {
        margin-bottom: 1rem !important;
    }
}

#startButton {
    width: 96%;
    transform: translateX(2%);
}

body {
    background-color: black; /* TODO */
}